<div>
  <form class="card" [formGroup]="form" (ngSubmit)="addPost()">
    <input
      type="text"
      class="form-control"
      placeholder="Title"
      [(ngModel)]="title"
      formControlName="title"
    >
    <input
      type="text"
      class="form-control"
      placeholder="Text"
      [(ngModel)]="text"
      formControlName="text"
    >
    <select formControlName="countries">
      <option value="ru">Россия</option>
      <option value="by">Беларусь</option>
      <option value="kz">Казахстан</option>
    </select>
    <button class="btn" type="submit">Add Post</button>
  </form>
</div>
