<div class="container">
  <h1>Angular components</h1>

  <p>Wait for async... {{prom | async}}</p>
  <p>Date: {{date | async | date:'mediumTime'}}</p>
  <p>Date2: {{date2 | date:'mediumTime'}}</p>
  <hr/>
  <div class="card">
    <h3>Counter: {{appCounterService.counter}}</h3>
    <button class="btn" (click)="appCounterService.decrease()">-</button>
    <button class="btn" (click)="appCounterService.increase()">+</button>
  </div>
  <button class="btn" (click)="goToPosts()">На посты</button>
  <nav>
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">home</a></li>
      <li routerLinkActive="active"><a routerLink="/about">about</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/about','extra']">extra</a></li>
      <li routerLinkActive="active"><a routerLink="/posts">posts</a></li>
    </ul>
  </nav>
  <button class="btn" (click)="authService.login()">Вход</button>
  <button class="btn" (click)="authService.logout()">Выход</button>
  <router-outlet></router-outlet>
</div>
